*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    color:white;
    overflow-x:hidden;
    min-height:100vh;
    background:url("../Images/ChatGPT\ Image\ Jul\ 20\,\ 2026\,\ 08_06_12\ PM.png");
    background-attachment:fixed;
    position:relative;

}

.page{
    width:88%;
    margin:auto;
    padding-bottom:120px;
}

.page-title{
    text-align:center;
    margin:40px 0 70px;

}

.page-title p{
    color:#4e6e8f;
    letter-spacing:6px;
    text-transform:uppercase;
    font-size:15px;
}

.page-title h1{
    margin-top:18px;
    font-size:70px;
    font-family:'Space Grotesk',sans-serif;
    text-shadow:
    0 0 20px #5449b7,
    0 0 50px rgba(80,140,255,.5);
}

.card,
.project-card,
.skill-card,
.tool-card,
.language-card,
.hobby-card,
.achievement-card,
.timeline-card,
.experience-card,
.contact-card,
.stat-card{
    background:
    rgba(255,255,255,.04);
    border:
    1px solid rgba(255,255,255,.08);
    backdrop-filter:blur(18px);
    border-radius:25px;
    padding:30px;
    transition:.45s;

} 

.buttons{
    display:flex;
    gap:18px;
    margin-top:25px;
}

.buttons a{
    text-decoration:none;
    color:white;
    padding:12px 24px;
    border-radius:35px;
    border:1px solid rgba(255,255,255,.12);
    transition:.4s;

}

.buttons a:hover{
    background:
    linear-gradient(90deg,#6d5ef9,#478dff);
    box-shadow:
    0 0 20px rgba(111,95,255,.5);

}

.tags,
.tech,
.tool-list,
.exp-tags,
.chips{
    display:flex;
    flex-wrap:wrap;
    gap:12px;
    margin-top:25px;

}

.tags span,
.tech span,
.tool-list span,
.exp-tags span,
.chips span{
    padding:10px 18px;
    border-radius:25px;
    background:
    rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    transition:.4s;
}

.tags span:hover,
.tech span:hover,
.tool-list span:hover,
.exp-tags span:hover,
.chips span:hover{
    background:
    rgba(120,103,255,.25);
    box-shadow:
    0 0 15px rgba(120,103,255,.4);
}

p{
    color:#d8d8d8;
    line-height:1.8;
}

a{
    color:white;
}

.about-container{
    display:grid;
    grid-template-columns:380px 1fr;
    gap:70px;
    align-items:center;
    margin-top:40px;
}

.about-image{
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.about-image img{
    width:320px;
    height:320px;
    object-fit:cover;
    border-radius:50%;
    border:2px solid rgba(140,120,255,.4);
    box-shadow:
    0 0 30px rgba(111,95,255,.35),
    0 0 90px rgba(71,141,255,.18);
    transition:.5s;
    
}

.about-image img:hover{
    transform:scale(1.04);
    box-shadow:
    0 0 45px rgba(111,95,255,.55),
    0 0 120px rgba(71,141,255,.28);

}

.about-content h2{
    font-size:34px;
    margin-bottom:25px;
    font-family:"Space Grotesk",sans-serif;
}

.about-content span{
    color:#7f5cff;
}

.about-content p{
    margin-bottom:22px;
    font-size:17px;
}

.stats{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    margin-top:80px;
}

.stat-card{
    text-align:center;
}

.stat-card h2{
    font-size:42px;
    color:#87b9ff;
    margin-bottom:10px;

}

.stat-card p{
    color:#cfcfcf;

}

.timeline-card{
    margin-bottom:50px;
    margin-left:70px;
    position:relative;

}
.year{
    display:inline-block;
    margin-bottom:15px;
    color:#82b6ff;
    font-weight:600;
    letter-spacing:1px;

} 

.projects-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:35px;
}

.project-card{
    position:relative;
    overflow:hidden;
}

.project-card:hover{
    transform:
    translateY(-10px)
    scale(1.02);
} 

.projects-grid{

grid-template-columns:1fr;

} 

.skills-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:35px;
}

.skill-card{
    position:relative;
    overflow:hidden;
}

.skill-card li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:18px 0;
    padding:15px 18px;
    border-radius:15px;
    background:rgba(255,255,255,.04);
    border:1px solid rgba(255,255,255,.08);
    transition:.35s;
}  
.skill-card li:hover{
    background:rgba(110,95,255,.15);
    transform:translateX(10px);
} 

.experience-container{
    display:grid;
    gap:35px;
}
.experience-card{
    position:relative;
    overflow:hidden;
}

.experience-head{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:18px;
} 
.experience-head span{
    color:#7dc2ff;
    font-weight:600;
} 

.tools-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:35px;
}

.tool-card{
    position:relative;
}

.tool-list span{
    padding:12px 22px;
    border-radius:35px;
    background:rgba(255,255,255,.05);
    transition:.35s;
}

.tool-list span:hover{
    transform:translateY(-5px);
    background:rgba(110,95,255,.18);
    box-shadow:
    0 0 18px rgba(111,95,255,.45);
} 

.skills-grid{
grid-template-columns:1fr;
}
.tools-container{
grid-template-columns:1fr;
}



.achievement-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;

}

.achievement-card{
    text-align:center;
    position:relative;
    overflow:hidden;
}

/* .achievement-card::before{
    content:"";
    position:absolute;

    width:250px;

    height:250px;

    background:radial-gradient(circle,
    rgba(124,95,255,.22),
    transparent);

    top:-130px;

    left:-100px;

} */

.achievement-card .icon{
    font-size:55px;
    margin-bottom:20px;
}

.achievement-card h2{
    font-size:26px;
    margin-bottom:10px;
    font-family:"Space Grotesk",sans-serif;
}

.language-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.language-card{
    text-align:center;
}

.language-icon{
    font-size:60px;
    margin-bottom:20px;
}

.language-card h2{
    font-size:30px;
    margin-bottom:10px;
    font-family:"Space Grotesk",sans-serif;
}

.language-card h3{
    color:#82beff;
    margin-bottom:15px;
}

.quote-card{
    margin-top:70px;
    text-align:center;
    padding:45px;
    border-radius:25px;
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
}

.hobbies-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:28px;
}

.hobby-card{
    text-align:center;
}

.hobby-icon{
    font-size:55px;
    margin-bottom:20px;
}

.interest-box{
    margin-top:70px;
    text-align:center;
    padding:45px;
    border-radius:25px;
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);

}

.contact-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
}

.contact-info,
.contact-message{
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    border-radius:25px;
    padding:35px;
}

.contact-info h2,
.contact-message h2{
    margin-bottom:20px;
    font-family:"Space Grotesk",sans-serif;
}

.contact-card{
    margin-top:20px;
    padding:20px;
}

.contact-card h3{
    margin-bottom:10px;
    color:#8bc6ff;
}

.contact-card:hover{
    transform:translateX(10px);

}

footer{
    text-align:center;
    padding:40px 0;
    color:#999;
    font-size:15px;
    border-top:1px solid rgba(255,255,255,.08);
    margin-top:100px;
}


.contact-container{
grid-template-columns:1fr;

}

.page-title h1{
font-size:48px;
}
